
body{
    padding: 0;
    margin: 0;
}
.menu{
    position: fixed;
    background-color: rgb(54, 46, 42);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    z-index: 2; /*o eixo z é como se fosse um eixo de altura. ele faz com que algo vire tipo 3d, se sobrec=saia de tudo */
}
h1{
    margin-left: 100px;
    margin-right: 150px;
    color: white;
}
.itens-menu{
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.icon-search{
    margin-left: 150px;
}
.icon-cart{
    margin-right: 100px;
}
.mensagem{
    align-items: center;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    height: 60px;
    background-color: rgb(252, 230, 230);
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-left: 35%;
}
.alugue-agora{
    color: rgb(173, 58, 58);
    margin: auto;
}
.carousel-edicao{
    height: 600px;
    width: 100%;
}
.catalogo-homem{
    margin: auto;
    padding-left: 50px;
}
.catalogo-mulher{
    margin: auto;
}

.catalogo-criança{
    margin: auto;
    padding-right: 50px;
}
.feminino{
    background-image: url(adulto.jpeg); /*imagem para fundo*/
    background-size: cover;
    height: 400px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}
.masculino{
    background-image: url(criança-1.jpeg); /*imagem para fundo*/
    background-size: cover;
    height: 400px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}
.infantil{
    background-image: url(noiva.jpeg); /*imagem para fundo*/
    background-size: cover;
    height: 400px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}
.comprar{
    justify-content: space-between;
    margin: auto;
    margin-top: 85%;
    font-size: 20px;
   /* letter-spacing: 5px; */
}
.tamanho{
    background-color: white ;
    width: 80px;
    height: 30px
}
.alugue{ /* eu fiz */
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.edicao-botton{
    margin-top: 80%;
    margin-left: 35%;
}
.ir{
    position: relative;
}
.ir :hover { display: block; position: relative; bottom: 40px; color: white; }

.espaço{
    position: relative;
    display: flex;
    margin-top: 80PX;;
}
.vestido1{
    height: 300px;
    width: 300px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.linha{
    justify-content: space-between;
    display: flex;
}
.roupas{
    width: 300px;
    height: 300px;
    background-color: rgb(241, 227, 210);
    margin: 10px;
}
.posiçao-menu-paginas{
    display: flex;
}
.bandeirinhas-inicio{
    background-image: url(Chique.png);
    background-size: cover;
    width: 100%;
    height: 180px;
}
.texto{
    font-size: 40px;
    padding-top: 5%;
}
.margem{
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
    text-align: center;
}
.icons{
    margin-bottom: 30px;
}
.rodape{
    background-color: rgb(255, 218, 218);
    width: 100%;
    height: 500px;
}
.logo-rodape{
    font-size: 35spx;
    color: white;
}
.page{
    margin-left: 100px;
}