
body{
    padding: 0;
    margin: 0;
}
.menu{
    background-color: rgb(54, 46, 42);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin: auto;
}
h1{
    margin-left: 100px;
    margin-right: 150px;
    color: white;
}
.itens-menu{
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.icon-search{
    margin-left: 150px;
}
.icon-cart{
    margin-right: 100px;
}
.mensagem{
    padding-top: 65px;
    width: 100%;
    height: 45px;
    background-color: rgb(255, 244, 225);
    margin: auto;
    text-align: center;
}
.alugue-agora{
    color: rgb(173, 58, 58);
    margin-left: 7px;
}
.carousel{

}