
body{
    padding: 0;
    margin: 0;
}
.menu{
    position: fixed;
    background-color: rgb(54, 46, 42);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    z-index: 2; /*o eixo z é como se fosse um eixo de altura. ele faz com que algo vire tipo 3d, se sobrec=saia de tudo */
}
h1{
    margin-left: 100px;
    margin-right: 150px;
    color: white;
}
.itens-menu{
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.icon-search{
    margin-left: 150px;
}
.icon-cart{
    margin-right: 100px;
}
.mensagem{
    padding-top: 75px;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 244, 225);
    margin: auto;
    text-align: center;
}
.alugue-agora{
    color: rgb(173, 58, 58);
    margin-left: 7px;
    padding-top: 80px;
}
.carousel-edicao{
    padding-top: 40px;
    height: 600px;
    width: 100%;
}
.catalogo-homem{
    margin: auto;
    padding-left: 50px;
}
.catalogo-mulher{
    margin: auto;
}

.catalogo-criança{
    margin: auto;
    padding-right: 50px;
}
.feminino{
    background-image: url(adulto.jpeg); /*imagem para fundo*/
    background-size: cover;
    height: 400px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}
.masculino{
    background-image: url(criança-1.jpeg); /*imagem para fundo*/
    background-size: cover;
    height: 400px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}
.infantil{
    background-image: url(criança.jpeg); /*imagem para fundo*/
    background-size: cover;
    height: 400px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}
.comprar{
    justify-content: space-between;
    margin: auto;
    margin-top: 85%;
    font-size: 20px;
   /* letter-spacing: 5px; */
}
.tamanho{
    background-color: white ;
    width: 80px;
    height: 30px
}
.alugue{ /* eu fiz */
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.edicao-botton{
    margin-top: 80%;
    margin-left: 35%;
}
.ir{
    position: relative;
}
.ir :hover { display: block; position: relative; bottom: 40px; color: white; }
.distancia{
    margin-left: 50%;
}
.menu-catalogo{
    padding-top: 80px;
    justify-content: space-between;
    display: flex;
}
.vestido1{
    height: 300px;
    width: 300px;
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.linha{
    justify-content: space-between;
    margin-right: 100px;
}